body {
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: space-between;
    overflow-y: scroll;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(img/aurora.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}


a {
    text-decoration: none;
    color: white;
}

.header-logo {
    width: 50px;
    margin: 15px;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-right: 50px;
    
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 60px;
    font-size: 25px;
    font-family: 'Courier New', monospace;
}

.box01 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box01-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box01-01-01 {
    font-size: large;
    width: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.box02 {
    box-sizing: border-box;
    background-color: white;
    color: black;
    mix-blend-mode: lighten;
    text-align: center;
    margin: 150px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 40px;
}

.box02-01 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.box03 {
    background-color: transparent;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.box04 {
    display: flex;
    align-items: center;
    margin: 150px auto;
    padding: 30px;
    padding-right: 40px;
    gap: 30px;
    border: white dotted;
    border-radius: 30px;
}

.box05 {
    font-size: 30px;
    margin: 50px 250px 300px 250px;
}

.box06 {
    font-size: 30px;
    margin: 50px 250px 25px 250px;
}

.card {
    box-sizing: border-box;
    color: white;
    background-color: black;
    height: 450px;
    width: 350px;
    padding: 20px;
    padding-bottom: 50px;
    margin: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-img {
    width: 250px;
}

.card-img-2 {
    width: 200px;
}

.card-img-3 {
    width: 100px;
    margin: 50px;
}

h1 {
    margin: 0;
}

button, .btn {
    padding: 20px;
    border-radius: 10px;
    background-color: transparent;
    border: white solid;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: large;
    font-weight: bold;
}

button:hover, .btn:hover {
    background-color: white;
    border: white solid;
    color: black;
    mix-blend-mode: lighten;
    cursor: grab;
}


input[type=text] {
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
 }

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: #0D1B42;
    text-align: center;
    font-family: 'Courier New', monospace;
}

.button-container {
    display: flex;
    gap: 20px;
    margin: 30px;
    justify-content: center;
}

.searchbar {
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    border: none;
}
